.invoice {
    @media print {
        page-break-before: always;
        border: none;
        margin: 20mm 15mm 20mm 30mm;
        width: 210mm;
        height: 290mm;
    }
    position: relative;
    border: 1px solid #ddd;
    height: 100vh;
    overflow-y: auto;
    .invoice-header {
        margin-bottom: 8px;
    }
    .invoice-title {
        display: flex;
        text-align: center;
        margin-bottom: 16px;
        .top-para {
            margin-bottom: 0;
        }
        .left-title {
            width: 180px;
        }
        .center-title {
            flex: 1;
            h3 {
                margin-top: 0;
            }
        }
        .right-title {
            width: 180px;
        }
    }
    .invoice-recipient-info {
        .line-dup {
            display: flex;
            .line-left {
                flex: 3;
            }
            .line-right {
                flex: 2;
            }
        }
    }
    .invoice-table {
        margin-right: inherit;
        th, tr, td {
            border-color: black;
        }
        td {
            vertical-align: middle;
            text-align: center;
            
        }
        .left-text {
            text-align: left;
        }
        thead {
            text-align: center;
            vertical-align: middle;
        }
        .special-col {
            border-width: var(--bs-border-width) !important
        }
    }
    .invoice-footer {
        margin-right: inherit;
        margin-top: 24px;
    }
    .invoice-signature {
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-weight: 600;
    }
    .invoice-qr {
        margin-right: inherit;
        position: absolute;
        bottom: 0px;
        right: 30px;
    }
}
// Invoice print
// @media print {
//     body {
//         font-family: 'Times New Roman', serif;
//         margin: 0;
//         padding: 0;
//     }

//     .invoice {
//         
//         margin: 20mm 15mm 20mm 35mm;
//         page-break-before: always;
//         table {
//             width: 100%;
//             border-collapse: collapse;
//         }

//         th,
//         td {
//             border: 1px solid black;
//             padding: 8px;
//             text-align: left;
//         }
//     }

//     .invoice-header,
//     .invoice-table,
//     .invoice-footer {
//         margin-bottom: 10mm;
//     }

//     .invoice-recipient-info {
//         /* Điều chỉnh lề và giao diện thông tin người nhận */
//         margin-bottom: 10mm;
//     }

//     .invoice-signature {
//         /* Điều chỉnh lề và giao diện chữ ký */
//     }
// }
